{% extends "base.html" %}
{% block content %}
  <br><br><br><br>
  {% if message != None %}
    {% if color == 'green' %}
    <div class="alert alert-success alert-dismissible" role="alert">
    {% elif color == 'red' %}
    <div class="alert alert-danger alert-dismissible" role="alert">
    {% endif %}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      {{ message }}
    </div>
  {% endif %}
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <form method="post" action="">
          <input type="text" name="query" class="form-control" placeholder="Search for an image">
          <input type="submit" value="Search">
        </form>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
  <br>
  {% for pic in pics %}
    {% if loop.first or loop.index % 4 == 0 %}
      <div class="row">
    {% endif %}
      <div class="col-xs-3">
        <div class="thumbnail">
          <a href="{{ url_for('search.search_route', id=pic.picid) }}">
            <img src="{{ pic.url }}" class="img-responsive thumbnail" height="200" width="200">
          </a>
          <div class="caption">
            {% for caption in captions %}
            {% if caption.picid == pic.picid %}
            <p class="text-center" style="font-size:16px">{{caption.caption}}</p>
            {% endif %}
            {% endfor %}
            <p class="text-center" style="font-weight:300">{{pic.date}}</p>
          </div>
        </div>
      </div>
    {% if loop.last or loop.index % 4 == 0 %}
      </div>
      <br><br>
    {% endif %}
    {% endfor %}
{% endblock %}